#myform{
    background-color: white;
}

#error{
    background-color: #FC46AA;
    padding: 15px;
    position: relative;
    top:30px;
    border: 1px solid black;
   
}

#resultat{
    background-color: rgb(65,180,39);
    padding: 15px;
    position: relative;
    top:30px;
    border: 1px solid black;
    color: white; 
}

label[for="nom"]{font-size:em}

#valider : 200